# Tuple( unchangeable)

In [1]:
my_tuple=("Rayhan","Ijaj","Data")

In [2]:
print(my_tuple)

('Rayhan', 'Ijaj', 'Data')

# Ordered, Unchangeable ,Allow Duplicates

# duplicate

In [3]:
tup_1=("Apple","Banana","Mango","Black Berry","Apple")

In [4]:
tup_1 #allow duplicate values Apple

('Apple', 'Banana', 'Mango', 'Black Berry', 'Apple')

In [5]:
print(len(tup_1))

5

In [6]:
tup_one_item=("Rayhan,") # Remember the comma for a tupple

In [7]:
tup_one_item

'Rayhan,'

In [8]:
tup_str=("Apple","Banana","Mango","Black Berry")
tup_int=("1","2","3","34","21","23")
tup_boolean=(True,False,True)

In [9]:
print(tup_str)

('Apple', 'Banana', 'Mango', 'Black Berry')

In [10]:
print(tup_int)
print(tup_boolean)

('1', '2', '3', '34', '21', '23')
(True, False, True)

In [11]:
tup_mix=("Banana","Mango","2","34","4",True) # Can contains different type of data
tup_mix

('Banana', 'Mango', '2', '34', '4', True)

In [12]:
type(tup_mix) # Data Type

tuple

# The tuple() Constructor

In [13]:
tup_doublebracket = tuple(("Apple","Banana","Mango")) # note the double round-brackets
print(tup_doublebracket)

('Apple', 'Banana', 'Mango')

# Access Tuple

In [14]:
tup_str

('Apple', 'Banana', 'Mango', 'Black Berry')

In [15]:
print(tup_str[2])

Mango

In [16]:
print(tup_str[-2])

Mango

# Range of Indexes

In [17]:
print(tup_str[1:3])

('Banana', 'Mango')

In [18]:
print(tup_str[:3])#print before 3

('Apple', 'Banana', 'Mango')

In [19]:
print(tup_str[2:])#Print after 2 no. index

('Mango', 'Black Berry')

In [20]:
print(tup_str[-3:-1])

('Banana', 'Mango')

# Change Tuple Values

In [21]:
print(tup_str)

('Apple', 'Banana', 'Mango', 'Black Berry')

In [22]:
y=list(tup_str) #Convert tuple into list
print(y)

['Apple', 'Banana', 'Mango', 'Black Berry']

In [23]:
y[1]="Rayhan" #added an item with list

In [24]:
print(y)

['Apple', 'Rayhan', 'Mango', 'Black Berry']

In [25]:
type(y)

list

In [26]:
x=tuple(y)
print(x)

('Apple', 'Rayhan', 'Mango', 'Black Berry')

In [27]:
type(x)

tuple

# Remove Items

In [28]:
##romoving tuple item is the same way as change tuple value

In [29]:
print(tup_str)

('Apple', 'Banana', 'Mango', 'Black Berry')

In [30]:
print(y) # #list

['Apple', 'Rayhan', 'Mango', 'Black Berry']

In [31]:
y.remove("Apple")

In [32]:
print(y)

['Rayhan', 'Mango', 'Black Berry']

# Unpacking a Tuple

In [48]:
fruits= ("apple", "banana", "cherry")
(green,Yellow,red)=fruits
print(green)
print(Yellow)
print(red)

apple
banana
cherry

In [49]:
fruits= ("apple", "banana", "cherry","mango","jackfruit")
(green,Yellow,*red)=fruits # assing a Asterisk 
print(green)
print(Yellow)
print(red)

apple
banana
['cherry', 'mango', 'jackfruit']

# Loop Through a Tuple

In [51]:
print(fruits)

('apple', 'banana', 'cherry', 'mango', 'jackfruit')

In [52]:
for x in fruits:
    print(x)

apple
banana
cherry
mango
jackfruit

In [57]:
for i in range (len(fruits)):
    print(fruits[i])

apple
banana
cherry
mango
jackfruit

In [59]:
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

apple
banana
cherry
mango
jackfruit

# Join Two Tuples

In [60]:
tup_1

('Apple', 'Banana', 'Mango', 'Black Berry', 'Apple')

In [62]:
tup_2=("1","2","3")

In [64]:
tup_join=tup_1+tup_2
print(tup_join)

('Apple', 'Banana', 'Mango', 'Black Berry', 'Apple', '1', '2', '3')

# Exercise:

In [65]:
fruits = ("apple", "banana", "cherry")#Print the first item in the fruits tuple.
print(fruits[0])

apple