# Dictionary (key:value pairs)

In [1]:
""""Dictionary use { } bracket 
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates."""

'"Dictionary use { } bracket \nDictionaries are used to store data values in key:value pairs.\n\nA dictionary is a collection which is ordered*, changeable and do not allow duplicates.'

In [2]:
dic_1={
    "Name" : "Rayhan", # comma is necessary after variable
    "Age"  :23,
    "Height":"6 ft",
    }
print(dic_1)

{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft'}

In [3]:
print(dic_1["Age"])

23

# Duplicates Not Allowed

In [4]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
      "Age"  :23,#Duplicate value which is not showing in print
    "Height":"6 ft",
    }
print(dic_1)

{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft'}

In [5]:
len(dic_1)

3

In [6]:
dic_1={
    "Name" : "Rayhan", # comma is necessary after variable
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False
    
    }
print(dic_1)

{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft', 'colors': ['white', 'brown', 'black'], 'Married': False}

In [7]:
type(dic_1)

dict

# The dict() Constructor

In [8]:
dic_const = dict(name = "Ijaj Ahmed", age = 25, country = "Bangladesh")
print(dic_const)

{'name': 'Ijaj Ahmed', 'age': 25, 'country': 'Bangladesh'}

# Accessing Items

In [9]:
dic_1={
    "Name" : "Rayhan", # comma is necessary after variable
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False
    
    }
print(dic_1)

{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft', 'colors': ['white', 'brown', 'black'], 'Married': False}

In [10]:
print(dic_1["Age"])

23

In [11]:
x=dic_1["Age"]
print(x)

23

In [12]:
x=dic_1.get("Age")
x

23

In [13]:
print(dic_1.get("Age"))

23

In [14]:
dic_1={
    "Name" : "Rayhan", # comma is necessary after variable
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False
     }
x=dic_1.keys()
print(x)

dict_keys(['Name', 'Age', 'Height', 'colors', 'Married'])

In [15]:
print(dic_1.keys()) # onkly take the keys of a dict

dict_keys(['Name', 'Age', 'Height', 'colors', 'Married'])

In [16]:
dic_1["CGPA"]=3.50
print(dic_1)

{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft', 'colors': ['white', 'brown', 'black'], 'Married': False, 'CGPA': 3.5}

In [17]:
print(dic_1.values()) # Only take the values

dict_values(['Rayhan', 23, '6 ft', ['white', 'brown', 'black'], False, 3.5])

In [18]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False
     }
print(dic_1.values())
dic_1['Married']=2022 #Make a change in the original dictionary, and see that the values list gets updated as well:
print(dic_1)

dict_values(['Rayhan', 23, '6 ft', ['white', 'brown', 'black'], False])
{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft', 'colors': ['white', 'brown', 'black'], 'Married': 2022}

# Get Items

In [19]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False,
    "Birth":1999
     }
print(dic_1.items())
dic_1["Birth"]=1998
print(dic_1)

dict_items([('Name', 'Rayhan'), ('Age', 23), ('Height', '6 ft'), ('colors', ['white', 'brown', 'black']), ('Married', False), ('Birth', 1999)])
{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft', 'colors': ['white', 'brown', 'black'], 'Married': False, 'Birth': 1998}

# if Key Exists

In [20]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False,
    "Birth":1999
     }
if "Birth" in dic_1:
    print (" Yes")

 Yes

# Change Values

In [21]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False,
    "Birth":1999
     }
dic_1["Birth"]=2000 # chnage valuue 1999 to 2000
dic_1

{'Name': 'Rayhan',
 'Age': 23,
 'Height': '6 ft',
 'colors': ['white', 'brown', 'black'],
 'Married': False,
 'Birth': 2000}

# Update Dictionary

In [22]:
dic_1.update({"Age":24})
print(dic_1)

{'Name': 'Rayhan', 'Age': 24, 'Height': '6 ft', 'colors': ['white', 'brown', 'black'], 'Married': False, 'Birth': 2000}

# Adding Items

In [23]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False,
    "Birth":1999
     }
dic_1["CGPA"]=3.5
print(dic_1)

{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft', 'colors': ['white', 'brown', 'black'], 'Married': False, 'Birth': 1999, 'CGPA': 3.5}

# Removing Items

In [24]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False,
    "Birth":1999
     }
dic_1.pop("Birth") # remove Birth keys and items
dic_1

{'Name': 'Rayhan',
 'Age': 23,
 'Height': '6 ft',
 'colors': ['white', 'brown', 'black'],
 'Married': False}

In [25]:
dic_1.popitem()
print(dic_1)

{'Name': 'Rayhan', 'Age': 23, 'Height': '6 ft', 'colors': ['white', 'brown', 'black']}

In [26]:
dic_1.clear()

In [27]:
dic_1

{}

# Copy a Dictionary

In [28]:
dic_1={
    "Name" : "Rayhan", 
    "Age"  :23,
    "Height":"6 ft",
    "colors": ["white","brown","black"],
    "Married" : False,
    "Birth":1999
     }
dic_copy=dic_1.copy() # enter the wholw dict into dic_3

In [29]:
dic_copy

{'Name': 'Rayhan',
 'Age': 23,
 'Height': '6 ft',
 'colors': ['white', 'brown', 'black'],
 'Married': False,
 'Birth': 1999}

# Nested Dictionaries

In [30]:
car=       {
    "car_1":{
    "name" :"Toyota",
    "clr"  :"red",
    "age"  : 5
    },
    "car_2":{
    "name":"Honda",
    "clr" : "Blue",
    "age" : 6
    },
    "car_3":{
    "name":"Suzuki",
    "clr" : "white",
    "age" : 3
    } 
}
car

{'car_1': {'name': 'Toyota', 'clr': 'red', 'age': 5},
 'car_2': {'name': 'Honda', 'clr': 'Blue', 'age': 6},
 'car_3': {'name': 'Suzuki', 'clr': 'white', 'age': 3}}

In [31]:
car_1={
    "name" :"Toyota",
    "clr"  :"red",
    "age"  : 5
    }
car_2= {
    "name":"Honda",
    "clr" : "Blue",
    "age" : 6
    }
car_3={
    "name":"Suzuki",
    "clr" : "white",
    "age" : 3
    } 
car_name={
       "car_1":car_1,
        "car_2":car_2,
        "car_3":car_3
        }
car_name

{'car_1': {'name': 'Toyota', 'clr': 'red', 'age': 5},
 'car_2': {'name': 'Honda', 'clr': 'Blue', 'age': 6},
 'car_3': {'name': 'Suzuki', 'clr': 'white', 'age': 3}}

# Exercise:

In [32]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

Mustang